<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Airline Delay Prediction</title>
</head>
<style>
body{
 background-image: url('im1.gif') ;
 background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }
  </style>
  <body>
  <br><br><br><br>
 <div class="container">
    <h1 class="text-center m-3 badge-dark text-w
    
    
    p">
        Airlines Delay Prediction 
      </h1>
        <div class="card container" style="width: 65%; ">
            
            <div class="card-body">
            
                <form action="/" method="post">
                    <div class="form-group">
                      <label for="formGroupExampleInput1">Elevation feet</label>
                      <input
                        type="text"
                        class="form-control"
                        id="formGroupExampleInput1"
                        name="elevation_ft"
                        required
                      />
                    </div>
                  
                    <center><button type="submit" class="btn btn-dark">CHECK</button></center>
                  </form>
            </div>
        </div>
    </div>

</body>
</html>